{% extends './index.html' %}

{% block title %}Artículos Publicados{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
<h2>Carga de Artículos</h2>
<div class="card">
    <div class="card-body">
        <form action="/ArticuloHome/NuevoArticulo/" method="POST">{% csrf_token %}
            <div class="form-group py-2">
                <input type="text" id="TituloTxt" name="TituloTxt" class="form-control" 
                placeholder="Título" maxlength="50" required>
            </div>
            <div class="form-group py-2">
                <input type="text" id="ContenidoTxt" name="ContenidoTxt" class="form-control" 
                placeholder="Contenido" required>
            </div>
            <div class="form-group py-2">
                <input type="url" id="ImgUrl" name="ImgUrl" class="form-control" 
                placeholder= "URL de imagen" required>
            </div>
            <div class="form-group py-2">
                <input type="text" id="AutorTxt" name="AutorTxt" class="form-control" 
                placeholder="Autor"  required>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-success btn-block text-white">Crear Artículo</button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Artículos Publicados</h1>
    <div class="table-responsive py-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th colspan="3">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for a in articulos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{a.titulo}}</td>
                    <td>{{a.autor}}</td>
                    <td>{{a.fecha}}</td>
                    <td><a href="LeerArticulo/{{a.titulo}}" class="btn btn-success">Leer Artículo</a></td>
                    <td><a href="EditarArticulo/{{a.titulo}}" class="btn btn-info">Modificar</a></td>
                    <td><a href="EliminarArticulo/{{a.titulo}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}