{% extends "./base.html" %}
{% load static %}

{% block title %} Gestor de Artículos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Artículos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/ArticuloHome/EditArticulo/" method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="TituloTxt" name="TituloTxt" value="{{articulo.titulo}}" class="form-control" 
                        placeholder="Título" maxlength="50" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="ContenidoTxt" name="ContenidoTxt" value="{{articulo.contenido}}" class="form-control" 
                        placeholder="Contenido" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="url" id="ImgUrl" name="ImgUrl" value="{{articulo.imagen}}" class="form-control" 
                        placeholder= "URL de Imagen" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="AutorTxt" name="AutorTxt" value="{{articulo.autor}}" class="form-control" 
                        placeholder="Autor" required>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-success btn-block text-white">Guardar Artículo</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock %}